*~
.*.swp
.DS_STORE

.settings
.classpath
/.idea
*.iml
*.ipr
*.iws

.gradle/
build/
bin/
target/
obj/
out/
classes/
.gwt/
gwt-unitCache/
war/
gen/
gen-external-apklibs/
armeabi/
armeabi-v7a/
linux32/
linux64/
windows32/
windows64/
macosx32/
ios32/
Debug/
Release/
x64/
x86/
ipch/
/dist

*.a
*.dll
*.dll.mdb
*.userprefs
*.sdf
*.class

parallax-*.zip
parallax-*.zip.MD5
