@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

* html, body, table td, select, button {
	line-height: 1.5;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.87);
}

pre {
	margin: 0;
}

.gwt-PopupPanel {
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-width: 2px;
  padding: 5px;
}

.common-panel {
	position:absolute;
	top:50%;
    left:50%;

	max-width:50%;
	text-align:center;
	overflow:hidden;
	height: 30px;
  	line-height: 30px;
	color: white;
	background-color:#555555;
	border: 1px solid #999999;
	opacity: 0.6;
	margin: auto;
	padding: 10px;    
}

.common-panel a {
	color: #ddd;
	font-weight: bold;
	text-decoration: none;
}

.common-panel a:hover {
	color: white;
}

.corner-panel {
	margin: 5px;
	padding: 10px;
	display: table; 
	width: 100%;
  	height: 100%;
  	
  	text-align:left;
}

.indexGroupName {
	padding-top: 20px;
	padding-bottom: 2px;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #E0E0E0;
	color: #503030;
}

.indexExamplePanel {
	height: 133px;
	width: 200px;
	display: inline;
	float: left;
	border: 1px solid #BBB;
	position:relative;
	margin: 3px;
}

.indexExamplePanel img {
	position:relative;
	padding: 0px;
	margin: 0px;
}

.indexExamplePanel .text {
	background-color: #CCC;
	border-top: 1px solid white;
	position:absolute;
	opacity: 0.5;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding: 3px;
    text-align: center;
}

.indexExamplePanel:HOVER {
	cursor: hand;
	cursor: pointer;
	border: 1px solid #777;
}

.indexExamplePanel:HOVER .text {
	opacity: 0.9;
}

.menuIcon {
	width: 30px;
	height: 20px;
	vertical-align:middle;
	margin-right: 4px;
	margin-left: -25px;
	border: 1px solid #999;
}
