.gwt-PopupPanel {
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-width: 2px;
  padding: 5px;
}

.common-panel {
	width: 10%;
	height: 5%;
	color: white;
	background-color:#555555;
	border: 1px solid #999999;
	opacity: 0.6;
	margin: auto;
	padding: 5px;
}

.debug-panel {
	padding: 2px;
	display: table; 
  	width: 100%; 
}

.debug-panel-element {
	display: table-cell; 
	padding-left: 3px;
}

.debug-panel .gwt-Label { 
	font-size:0.8em; 
}