.gwt-PopupPanel {
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-width: 2px;
  padding: 5px;
}

.debug-panel { 
	display: table; 
  	width: 100%; 
	padding-right:3px;
	background-color:#555555;
	border: 1px solid #999999;
	opacity: 0.6;
}

.debug-panel-element {
	display: table-cell; 
	padding-left: 3px;
}

.debug-panel .gwt-Label { 
	color: white;
	font-size:0.8em; 
}