.debug-panel {
	display: table;
	width:100%;
	padding: 0px;
	color: white;
	background-color:#555555;
	border: 1px solid #999999;
	opacity: 0.6; 
}

.debug-panel-element {
	display: table-cell;
	padding-left: 3px;
	font-size: 10px;
}

.debugger-graph-container {
	display: table-cell;
	width: 80px;
	opacity: 0.9;
	cursor: pointer;
}

.debugger-fps { background-color:#002; }
.debugger-ms { background-color:#020; }
.debugger-fps, .debugger-ms {
	padding:0 0 3px 3px;
	text-align:left;
}

.debugger-fps-text { color:#0ff; }
.debugger-ms-text { color:#0f0; }
.debugger-fps-text, .debugger-ms-text {
	font-family:Helvetica,Arial,sans-serif;
	font-size:9px;
	font-weight:bold;
	line-height:15px;
}

.debugger-graph-text {
	position:relative;
	margin: -30px 0 0 1px; 
	width:70px;
	height:30px;
}

.debugger-fps-text-max, .debugger-ms-text-max { top:1px; }
.debugger-fps-text-min, .debugger-ms-text-min { bottom:1px; }
.debugger-fps-text-max, .debugger-fps-text-min { color:#0DD; }
.debugger-ms-text-max, .debugger-ms-text-min { color:#0D0; }
.debugger-fps-text-max, .debugger-fps-text-min, 
.debugger-ms-text-max, .debugger-ms-text-min {
	position:absolute;
	font-size:7px;
	padding:0 1px 0 1px;
}

.debugger-fps-graph { background-color:#0ff; }
.debugger-ms-graph { background-color:#0f0; }
.debugger-fps-graph, .debugger-ms-graph {
	position:relative;
	width:74px;
	height:30px;
}

.debugger-fps-graph span, .debugger-fps-text-max, .debugger-fps-text-min { background-color:#113; }
.debugger-ms-graph span,  .debugger-ms-text-max, .debugger-ms-text-min { background-color:#131; }
.debugger-fps-graph span, .debugger-ms-graph span {
	width:1px;
	height:30px;
	float:left;
}
